.image-container {
 
  width: 100%;
  max-width: 1200px;
  
  height: 600px; 
  background-image: './img.jpg';
}

.wrapper {

  margin-left: 21%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  max-width: 1200px;
  height: 600px;
  height: 600px; 
  background-image: url('./img.jpg');
  color: white;
  
}







.cta-button {
  display: block;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #92A134; 
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.cta-button:hover {
  background-color: #92A134; 
}